[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "libraries/TeensyDmx"]
	path = libraries/TeensyDmx
	url = https://github.com/chrisstaite/TeensyDmx.git
[submodule "libraries/DmxReceiver"]
	path = libraries/DmxReceiver
	url = https://github.com/jimparis/DmxReceiver.git
[submodule "libraries/E131"]
	path = libraries/E131
	url = git@github.com:forkineye/E131.git
[submodule "libraries/ESPAsyncE131"]
	path = libraries/ESPAsyncE131
	url = git@github.com:forkineye/ESPAsyncE131.git
[submodule "libraries/ESPAsyncUDP"]
	path = libraries/ESPAsyncUDP
	url = git@github.com:me-no-dev/ESPAsyncUDP.git
