[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "libraries/TeensyDmx"]
	path = libraries/TeensyDmx
	url = https://github.com/chrisstaite/TeensyDmx.git
[submodule "libraries/DmxReceiver"]
	path = libraries/DmxReceiver
	url = https://github.com/jimparis/DmxReceiver.git
[submodule "libraries/E131"]
	path = libraries/E131
	url = git@github.com:forkineye/E131.git
[submodule "libraries/ESPAsyncE131"]
	path = libraries/ESPAsyncE131
	url = git@github.com:forkineye/ESPAsyncE131.git
[submodule "libraries/ESPAsyncUDP"]
	path = libraries/ESPAsyncUDP
	url = git@github.com:me-no-dev/ESPAsyncUDP.git
[submodule "MashedPixels"]
	path = MashedPixels
	url = git@github.com:alexisisaac/MashedPixels.git
[submodule "tree"]
	path = tree
	url = git@github.com:evilgeniuslabs/tree.git
[submodule "tree-v2"]
	path = tree-v2
	url = git@github.com:evilgeniuslabs/tree-v2.git
[submodule "libraries/MSGEQ7"]
	path = libraries/MSGEQ7
	url = git@github.com:NicoHood/MSGEQ7.git
[submodule "libraries/WS2812Serial"]
	path = libraries/WS2812Serial
	url = https://github.com/PaulStoffregen/WS2812Serial.git
[submodule "libraries/FastLED-GFX"]
	path = libraries/FastLED-GFX
	url = https://github.com/Jorgen-VikingGod/FastLED-GFX.git
[submodule "libraries/DMXSerial"]
	path = libraries/DMXSerial
	url = https://github.com/mathertel/DMXSerial.git
[submodule "libraries/ESP-Dmx"]
	path = libraries/ESP-Dmx
	url = https://github.com/Rickgg/ESP-Dmx.git
