[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "libraries/TeensyDmx"]
	path = libraries/TeensyDmx
	url = https://github.com/chrisstaite/TeensyDmx.git
[submodule "libraries/DmxReceiver"]
	path = libraries/DmxReceiver
	url = https://github.com/jimparis/DmxReceiver.git
[submodule "libraries/E131"]
	path = libraries/E131
	url = https://github.com/netmindz/E131.git
[submodule "libraries/ESPAsyncE131"]
	path = libraries/ESPAsyncE131
	url = https://github.com/netmindz/ESPAsyncE131.git
[submodule "libraries/ESPAsyncUDP"]
	path = libraries/ESPAsyncUDP
	url = https://github.com/me-no-dev/ESPAsyncUDP.git
[submodule "MashedPixels"]
	path = 3rdParty/MashedPixels
	url = git@github.com:alexisisaac/MashedPixels.git
[submodule "tree"]
	path = 3rdParty/tree
	url = git@github.com:evilgeniuslabs/tree.git
[submodule "tree-v2"]
	path = 3rdParty/tree-v2
	url = git@github.com:evilgeniuslabs/tree-v2.git
[submodule "libraries/MSGEQ7"]
	path = libraries/MSGEQ7
	url = git@github.com:NicoHood/MSGEQ7.git
[submodule "libraries/WS2812Serial"]
	path = libraries/WS2812Serial
	url = https://github.com/PaulStoffregen/WS2812Serial.git
[submodule "libraries/FastLED-GFX"]
	path = libraries/FastLED-GFX
	url = https://github.com/Jorgen-VikingGod/FastLED-GFX.git
[submodule "libraries/DMXSerial"]
	path = libraries/DMXSerial
	url = https://github.com/mathertel/DMXSerial.git
[submodule "libraries/OctoWS2811"]
	path = libraries/OctoWS2811
	url = https://github.com/PaulStoffregen/OctoWS2811.git
[submodule "libraries/Audio"]
	path = libraries/Audio
	url = https://github.com/PaulStoffregen/Audio.git
[submodule "libraries/SerialFlash"]
	path = libraries/SerialFlash
	url = https://github.com/PaulStoffregen/SerialFlash
[submodule "FunkyNoise"]
	path = 3rdParty/FunkyNoise
	url = https://github.com/netmindz/FunkyNoise.git
[submodule "FastLED-Demos"]
	path = 3rdParty/FastLED-Demos
	url = https://github.com/atuline/FastLED-Demos.git
	branch = .
[submodule "libraries/StringSplitter"]
	path = libraries/StringSplitter
	url = https://github.com/aharshac/StringSplitter.git
[submodule "libraries/FSBrowser"]
	path = libraries/FSBrowser
	url = https://github.com/sticilface/FSBrowser.git
[submodule "libraries/ESPAsyncTCP"]
	path = libraries/ESPAsyncTCP
	url = https://github.com/me-no-dev/ESPAsyncTCP.git
[submodule "libraries/ESPAsyncWebServer"]
	path = libraries/ESPAsyncWebServer
	url = https://github.com/Aircoookie/ESPAsyncWebServer.git
[submodule "libraries/NeoPixelBus"]
	path = libraries/NeoPixelBus
	url = https://github.com/Makuna/NeoPixelBus.git
[submodule "WLED-Audio"]
	path = WLED-Audio
	url = https://github.com/netmindz/WLED.git
[submodule "WLED-Default"]
	path = WLED-Default
	url = https://github.com/Aircoookie/WLED.git
[submodule "esp8266-fastled-audio"]
	path = 3rdParty/esp8266-fastled-audio
	url = https://github.com/jasoncoon/esp8266-fastled-audio.git
[submodule "Lumos-Board-Audio"]
	path = Lumos-Board-Audio
	url = https://github.com/netmindz/Lumos-Board-Audio.git
[submodule "libraries/arduinoFFT"]
	path = libraries/arduinoFFT
	url = https://github.com/kosme/arduinoFFT.git
[submodule "libraries/SmartMatrix"]
	path = libraries/SmartMatrix
	url = https://github.com/pixelmatix/SmartMatrix.git
[submodule "libraries/FlexIO_t4"]
	path = libraries/FlexIO_t4
	url = https://github.com/KurtE/FlexIO_t4.git
[submodule "ledtable"]
	path = ledtable
	url = https://github.com/netmindz/ledtable.git
[submodule "LEDSnakeGame"]
	path = LEDSnakeGame
	url = https://github.com/netmindz/LEDSnakeGame.git
[submodule "libraries/FastLED_NeoMatrix"]
	path = libraries/FastLED_NeoMatrix
	url = https://github.com/marcmerlin/FastLED_NeoMatrix.git
[submodule "libraries/ESP-Dmx"]
	path = libraries/ESP-Dmx
	url = https://github.com/Rickgg/ESP-Dmx.git
[submodule "libraries/AsyncTCP"]
	path = libraries/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP.git
[submodule "libraries/LEDSprites"]
	path = libraries/LEDSprites
	url = https://github.com/AaronLiddiment/LEDSprites.git
[submodule "libraries/LEDMatrix"]
	path = libraries/LEDMatrix
	url = https://github.com/AaronLiddiment/LEDMatrix.git
[submodule "libraries/LEDText"]
	path = libraries/LEDText
	url = https://github.com/AaronLiddiment/LEDText.git
[submodule "Tetris"]
	path = Tetris
	url = https://github.com/netmindz/ESP32Tetris.git
[submodule "libraries/LITTLEFS"]
	path = libraries/LITTLEFS
	url = https://github.com/lorol/LITTLEFS.git
[submodule "libraries/NTPClient"]
	path = libraries/NTPClient
	url = https://github.com/arduino-libraries/NTPClient.git
[submodule "libraries/espDMX"]
	path = libraries/espDMX
	url = https://github.com/mtongnz/espDMX.git
[submodule "WLED-MSGEQ7-Sender"]
	path = WLED-MSGEQ7-Sender
	url = https://github.com/netmindz/WLED-MSGEQ7-Sender.git
[submodule "libraries/ledtable2"]
	path = libraries/ledtable2
	url = https://github.com/netmindz/ledtable2.git
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "3rdParty/psilocybe"]
	path = 3rdParty/psilocybe
	url = https://github.com/evilgeniuslabs/psilocybe.git
[submodule "3rdParty/FastLED_NeoMatrix_SmartMatrix_LEDMatrix_GFX_Demos"]
	path = 3rdParty/FastLED_NeoMatrix_SmartMatrix_LEDMatrix_GFX_Demos
	url = https://github.com/netmindz/FastLED_NeoMatrix_SmartMatrix_LEDMatrix_GFX_Demos.git
[submodule "libraries/SmartMatrix_GFX"]
	path = libraries/SmartMatrix_GFX
	url = https://github.com/marcmerlin/SmartMatrix_GFX.git
[submodule "libraries/Framebuffer_GFX"]
	path = libraries/Framebuffer_GFX
	url = https://github.com/marcmerlin/Framebuffer_GFX.git
[submodule "https://github.com/netmindz/FastLED_NeoMatrix_SmartMatrix_LEDMatrix_GFX_Demos.git"]
	url = FastLED_NeoMatrix_SmartMatrix_LEDMatrix_GFX_Demos/
[submodule "3rdParty/New_Visualizer_Skeleton"]
	path = 3rdParty/New_Visualizer_Skeleton
	url = https://github.com/netmindz/New_Visualizer_Skeleton.git
[submodule "libraries/elapsedMillis"]
	path = libraries/elapsedMillis
	url = https://github.com/pfeerick/elapsedMillis.git
[submodule "3rdParty/Wormhole_484"]
	path = 3rdParty/Wormhole_484
	url = https://github.com/haybur/Wormhole_484.git
[submodule "libraries/TeensyDMX"]
	path = libraries/TeensyDMX
	url = https://github.com/ssilverman/TeensyDMX.git
[submodule "libraries/AnimatedGIF"]
	path = libraries/AnimatedGIF
	url = https://github.com/bitbank2/AnimatedGIF.git
[submodule "libraries/ESP32-HUB75-MatrixPanel-I2S-DMA"]
	path = libraries/ESP32-HUB75-MatrixPanel-I2S-DMA
	url = https://github.com/mrfaptastic/ESP32-HUB75-MatrixPanel-I2S-DMA.git
[submodule "libraries/mqtt-client"]
	path = libraries/mqtt-client
	url = https://bitbucket.org/amotzek/mqtt-client.git
[submodule "libraries/EspMQTTClient"]
	path = libraries/EspMQTTClient
	url = https://github.com/plapointe6/EspMQTTClient.git
[submodule "libraries/pubsubclient"]
	path = libraries/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
[submodule "libraries/arduino-home-assistant"]
	path = libraries/arduino-home-assistant
	url = https://github.com/dawidchyrzynski/arduino-home-assistant.git
[submodule "libraries/espsoftwareserial"]
	path = libraries/espsoftwareserial
	url = https://github.com/plerup/espsoftwareserial.git
[submodule "libraries/arduinoWebSockets"]
	path = libraries/arduinoWebSockets
	url = https://github.com/Links2004/arduinoWebSockets
[submodule "libraries/arduino-audiokit"]
	path = libraries/arduino-audiokit
	url = https://github.com/pschatzmann/arduino-audiokit.git
[submodule "libraries/es8388"]
	path = libraries/es8388
	url = https://github.com/thaaraak/es8388.git
[submodule "libraries/arduino-audio-tools"]
	path = libraries/arduino-audio-tools
	url = https://github.com/pschatzmann/arduino-audio-tools.git
[submodule "libraries/ESP32-A2DP"]
	path = libraries/ESP32-A2DP
	url = https://github.com/pschatzmann/ESP32-A2DP.git
[submodule "libraries/Adafruit_BusIO"]
	path = libraries/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "libraries/SparkFun_APDS-9960_Sensor_Arduino_Library"]
	path = libraries/SparkFun_APDS-9960_Sensor_Arduino_Library
	url = https://github.com/netmindz/SparkFun_APDS-9960_Sensor_Arduino_Library.git
[submodule "libraries/WLED-sync"]
	path = libraries/WLED-sync
	url = https://github.com/netmindz/WLED-sync.git
[submodule "3rdParty/esp32-cam-mjpeg-multiclient"]
	path = 3rdParty/esp32-cam-mjpeg-multiclient
	url = https://github.com/arkhipenko/esp32-cam-mjpeg-multiclient.git
[submodule "Products/Rings"]
	path = Products/Rings
	url = https://github.com/netmindz/rings.git
[submodule "libraries/LEDSnakeGame"]
	path = libraries/LEDSnakeGame
	url = https://github.com/netmindz/LEDSnakeGame.git
[submodule "libraries/arduino_midi_library"]
	path = libraries/arduino_midi_library
	url = https://github.com/FortySevenEffects/arduino_midi_library.git
